body {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 200px 1fr;
}

sidebar {
    background-color: lightblue;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.dashboard {
    margin-top: 50px;
}

sidebar ul {
    font-size: 24px;
    margin: 40px;
}

sidebar li {
    font-size: 24px;
    margin: 10px;
}

.header-container{
    background-color: #FFF;
    grid-area: 1 / 2 / 2 / 2;
}

.header {
    margin-left: 40px;
}

.header input {
    background-color: lightgray;
    width: 600px;
    height: 30px;
    border-radius: 25px;
    padding: 0 30px;
}


.main-content{
    background-color: lightgray;
    grid-area: 2 / 2 / -1 / -1;
}